[submodule "web/js/libraries/Chart.Scatter"]
	path = web/js/libraries/Chart.Scatter
	url = git://github.com/dima117/Chart.Scatter.git
[submodule "web/js/libraries/Chart.js"]
	path = web/js/libraries/Chart.js
	url = git://github.com/nnnick/Chart.js.git
